:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --grey950: rgb(29, 32, 38);
    --grey500: rgb(105, 112, 125);
    --grey300: rgb(195, 202, 217);
    --grey100: rgb(228, 233, 242);
    --grey50: rgb(246, 248, 253);
    --orange500: rgb(255, 126, 27);
    --shadowOrange500: rgba(255, 126, 27, 0.25);
    --orange300: rgb(255, 171, 106);

    /* typography */

    --tp1-fs: 2.75rem;
    --tp1-lh: 3rem;
    --tp2-fs: 1.75rem;
    --tp2-lh: 2rem;
    --tp25-fs: 1.125rem;
    --tp25-lh: 1.625rem;
    --tp3-fs: 1rem;
    --tp3-lh: 1.625rem;
    --tp4-fs: 0.937rem;
    --tp4-lh: 1.625rem;
    --tp5-fs: 0.813rem;
    --tp5-lh: 1rem;
    --tp5-ls: 0.125rem;
    --tp6-fs: 0.75rem;
    --tp6-lh: 0.937rem;
    --tp6-ls: 0.115rem;
    --bold: 700;
    --ff-main: 'Kumbh Sans', Arial, Helvetica, sans-serif;
    --bradius: 0.625rem;
}

@font-face {
  font-display: swap; 
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./design/kumbh-sans-v27-latin/kumbh-sans-v27-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./design/kumbh-sans-v27-latin/kumbh-sans-v27-latin-700.woff2') format('woff2'); 
}

/* utilities */ 

.heading {
    font-size: var(--tp2-fs);
    line-height: var(--tp2-lh);
    font-weight: var(--bold);
    color: var(--grey950)
}
.company {
    font-size: var(--tp6-fs);
    line-height: var(--tp6-lh);
    letter-spacing: var(--tp6-ls);
    font-weight: var(--bold);
    color: var(--grey500);
}
.description {
    font-size: var(--tp4-fs);
    line-height: var(--tp4-lh);
    color: var(--grey500);
}
.price {
    font-size: var(--tp2-fs);
    line-height: var(--tp2-lh);
    font-weight: var(--bold);
    color: var(--grey950)
}
.tp3 {
    font-size: var(--tp3-fs);
    line-height: var(--tp3-lh);
    font-weight: var(--bold);
    color: var(--grey500)
}
.menu-mobile {
    font-size: var(--tp25-fs);
    line-height: var(--tp25-lh);
    font-weight: var(--bold);
}
.menu-dt { 
    font-size: var(--tp4-fs);
    line-height: var(--tp4-lh);
}

@media (min-width: 400px) {
    .heading {
        font-size: var(--tp1-fs);
        line-height: var(--tp1-lh);
        font-weight: var(--bold);
    }
    .company {
        font-size: var(--tp5-fs);
        line-height: var(--tp5-lh);
        letter-spacing: var(--tp5-ls);
        font-weight: var(--bold);
    }
    
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.disabled {
    opacity: 0.4;
}

/* reset */


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}

*:not(dialog) {
  margin: 0;

}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);

}
html, body {
    overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul,
li {
    list-style: none;
}

p, h1, h2 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}




/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    max-width: 75rem;
    margin-inline: auto;
}

.header__menu-button, .header__cart-button, .header__profile-button, .main__quantity-minus, .main__quantity-plus, .header__cart-delete, .header__cart-checkout {
    background-color: transparent;
    border: 1px solid transparent;
}

.header__left-container, .header__right-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* header menu */

.header__hamburger rect {
    fill: var(--grey500);
}

.header__menu-button {
    position: relative;
    z-index: 21;
}

.header__nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
    background-color: var(--white);
    padding: 6rem 1.5rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 20;
    visibility: hidden;
}

.header__nav-mobile.open {
    transform: translateX(0);
}

.header__nav-mobile-ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dim-bg-menu, .dim-bg-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* header cart */

.header__cart-button {
    position: relative;
}
.header__cart-button-quantity {
    position: absolute;
    top: 0;
    right: -0.25rem;
    background-color: var(--orange500);
    color: var(--white);
    width: 1rem;
    height: 0.75rem;
    border-radius: 5rem;
    font-size: 0.5rem;
    font-weight: 700;
    display: none;
    align-items: center;
    justify-content: center;
}

.header__cart[open] {
    width: 22.5rem;
    top: 4.5rem;
    border-radius: var(--bradius);
    border: 1px solid transparent;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header__cart-head {
    padding: 1.5rem 1rem;
    color: var(--grey950);
}

.header__cart-empty { 
    text-align: center;
    padding-block: 5rem;
}

.header__cart-product {
    display: none;
    margin: 1.5rem 1rem 0rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.entry {
    display: flex;
}

.header__cart-img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.25rem;
}

.header__cart-labels {
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    font-size: var(--tp3-fs);
    line-height: var(--tp3-lh);
    color: var(--grey500)
}

.header__cart-total {
    color: var(--grey950);
    margin-inline: 0.5rem;
}

.header__cart-checkout {
    width: 20rem;
    margin: 1rem auto;
    padding-block: 1rem;
    color: var(--grey950);
    border-radius: var(--bradius);
    background-color: var(--orange500);
}


/* photo gallery */

.main__gallery {
    position: relative;
    height: 18.75rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.main__gallery-img {
    object-fit: fill;
}

.main__gallery-next, .main__gallery-previous {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
    background-color: var(--white);
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__gallery-next img {
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

 .main__gallery-previous img {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
 }

.main__gallery-next {
    right: 1rem;
}
.main__gallery-previous {
    left: 1rem;
}

/* info */ 

.main__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
}

.main__pricing-container {
    margin-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-sale {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main__pricing-sale {
    background-color: var(--grey950);
    color: var(--white);
    padding-inline: 0.5rem;
    border-radius: 0.4rem;
}

/* bottom buttons */

.main__quantity-add-container {
    display: grid;
    gap: 1rem
}

.main__quantity-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--grey50);
    padding: 1rem 1rem;
    border-radius: var(--bradius);
}

.main__quantity-container img {
    object-fit: contain;
}

.main__quantity {
    color: var(--grey950)
}

.main__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    color: var(--grey950);
    background-color: var(--orange500);
    border: 1px solid transparent;
    border-radius: var(--bradius);
}

.main__add-button img {
    height: 1rem;
    filter: brightness(0) saturate(100%) invert(7%) sepia(18%) saturate(809%) hue-rotate(181deg) brightness(93%) contrast(87%);
}

/* error message */
    
.main__error-container {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%) translateY(-10rem);
    transition: transform 0.3s ease-in-out;
    background-color: var(--grey950);
    color: var(--orange500);
    width: 13rem;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: var(--bradius);
    z-index: 100;
}

.main__error-container.open {
    transform: translateX(-50%) translateY(0);
}

@media (min-width: 400px) {
    .heading {
        font-size: var(--tp1-fs);
        line-height: var(--tp1-lh);
    }

    body {
        padding-inline: 10vw;
    }
    hr {
        display: block;
        max-width: 75rem;
        margin-inline: auto;
    }
    main {
        margin-block: 2rem;
    }

    .header {
        padding: 1.5rem 0rem;
    }

    .main__quantity-add-container {
        grid-template-columns: 1fr 1fr;
    }

    .header__right-container {
        gap: 4rem;
    }
    .header__cart-and-button-container {
        position: relative;
    }
    .header__cart[open] {
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        box-shadow: 0 1.2rem 2.8rem -1.2rem rgba(0, 0, 0, 0.6);
    }

    .header__profile-button img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .header__cart-button {
        height: 1.7rem;
    }
    
    .main__info { 
        width: 100%;
        gap: 1.5rem;
        margin-block: 2.5rem;
    }

    .main__gallery {
        border-radius: 1rem;
        max-width: 40rem;
        margin: auto;
    }


    .main__pricing-container {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .main__add-button {
        box-shadow: 0 1.2rem 2.5rem 0 var(--shadowOrange500);
    }
}

@media (min-width: 1130px) {
    
    .header__menu-button {
        display: none;
    }

    .header__nav-desktop {
        display: block;
    }

    .header__nav-desktop-ul {
        display: flex;
        gap: 2rem;
    }

    .header__left-container {
        gap: 4rem;
    }

    .main {
        display: flex;
        width: min(100%, 64rem);
        margin: 5rem auto;
        align-items: center;
        height: 35.2rem;
    }

    .main__gallery {
        width: 27.8rem;
        height: auto;
    /*     align-items: start; */
        justify-content: space-between;
        flex-direction: column;
        border-radius: 0;
        margin: 0;
    }

    .main__gallery-img {
        margin-block-end: 2rem;
    }



    .main__gallery-img img {
        border-radius: 1rem;
    }

    .main__gallery-next, .main__gallery-previous {
        display: none;
    }
    
    .main__gallery-thumbnail-container {
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 27.8rem;
    }
    
    .main__gallery-thumbnail img {
        border-radius: 0.6rem;

    }

    .main__gallery-thumbnail {
        border-radius: 2px solid transparent;
    }

    .selected-img img {
        opacity: 0.5;
    }

    .selected-img {
        border: 2px solid var(--orange500);
        border-radius: 0.75rem
    }

    .main__info {
        width: 440px;
        margin: 1rem 0 1rem auto;
        
    }

     .main__quantity-add-container {
        grid-template-columns: 2fr 3fr;
    }

    /* lightbox */

    .lightbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 15;
        width: 34.3rem;
    }

    .lightbox .main__gallery-next, .lightbox .main__gallery-previous {
        display: flex;
        top: 40%;
    }

    .lightbox .lightbox-close {
        display: flex;
        align-self: flex-end;
        margin: 1rem;
        filter: brightness(0) invert(1);
        background-color: transparent;
        border: 1px solid transparent;
    }

    .lightbox .lightbox-close img {
        width: 1.2rem;
    }
}